<div class='navbar'>
	<div class='container'>
		<ul id="homebar" class="navigation-bar">
			<li id="logo">
				<%= link_to root_path do %>
	   				<%= image_tag "logo.png", style: "width:304px;height:50px;" %>
				<% end %>
			</li>
			<% if user_signed_in? %>
				<li class='nav-link'><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
			<% end %>
			<li class='nav-link'><%= link_to "Contact", contact_path %></li>
			<li class='nav-link'><%= link_to "About", about_path %></li>
			
		</ul>
	</div>
</div>